Source: fosfat
Section: misc
Priority: optional
Maintainer: Mathieu Schroeter <mathieu.schroeter@gamesover.ch>
Build-Depends: debhelper (>= 5), pkg-config (>= 0.20), libfuse-dev (>= 2.5)
Standards-Version: 3.7.2

Package: fosfat
Architecture: any
Description: Library Fosfat and FUSE extension
 Fosfat is a C library for providing read-only access to a Smaky
 formatted disk. Currently, only a tool and a FUSE extension that
 use this library can be used for reading a directory and copying
 a file. Smaky was a system developed in Switzerland at the EPFL
 (Ecole Polytechnique Fédérale de Lausanne).
 --
 Website: http://home.gna.org/fosfat/
